export CLAUDE_COMPUTER_USE_DEBUG="0"
export CLAUDE_COMPUTER_USE_COORDINATE_MODE="pixels"
export CLAUDE_COMPUTER_USE_CLIPBOARD_PASTE="1"
export CLAUDE_COMPUTER_USE_MOUSE_ANIMATION="1"
export CLAUDE_COMPUTER_USE_HIDE_BEFORE_ACTION="0"
